<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>body</key>
	<dict>
		<key>adList</key>
		<array>
			<dict>
				<key>interact</key>
				<dict>
					<key>thirdInteract</key>
					<dict>
						<key>macroDownStop</key>
						<false/>
						<key>macroDownStart</key>
						<false/>
						<key>macroClick</key>
						<false/>
						<key>macroView</key>
						<false/>
					</dict>
					<key>landPage</key>
					<dict>
						<key>args</key>
						<dict>
							<key>openType</key>
							<string>0</string>
							<key>url</key>
							<string>http://baidu.com?activity_id=58&amp;ref=1001&amp;app_link_open_type=0</string>
						</dict>
						<key>type</key>
						<string></string>
					</dict>
					<key>deepLink</key>
					<string></string>
					<key>openMode</key>
					<string>0</string>
					<key>action</key>
					<string>1</string>
				</dict>
				<key>sourceMark</key>
				<string>掌通家园</string>
				<key>shelfLife</key>
				<string>5126580</string>
				<key>materialType</key>
				<string>2</string>
				<key>isZtjy</key>
				<string>1</string>
				<key>isOperate</key>
				<string>1</string>
				<key>advertId</key>
				<string>81</string>
				<key>activityId</key>
				<string>58</string>
				<key>data</key>
				<string>http://og3rlujh7.bkt.clouddn.com/ztnew/admin/banners/2017/09/07/1504782704631772.jpg?imageMogr2/format/jpg</string>
				<key>platform</key>
				<string>1</string>
				<key>playtime</key>
				<string>3</string>
			</dict>
		</array>
		<key>spaceInfo</key>
		<dict>
			<key>platforms</key>
			<array>
				<string>1</string>
			</array>
			<key>showMaxTime</key>
			<string>3</string>
			<key>showSkip</key>
			<false/>
			<key>showCount</key>
			<false/>
			<key>limitFreq</key>
			<string>1800</string>
			<key>limitSum</key>
			<string>5</string>
			<key>limitEnable</key>
			<false/>
			<key>appType</key>
			<string>1</string>
			<key>adCount</key>
			<string>1</string>
			<key>width</key>
			<string>640</string>
			<key>height</key>
			<string>960</string>
			<key>type</key>
			<string>2</string>
			<key>id</key>
			<string>1001</string>
		</dict>
	</dict>
	<key>message</key>
	<string></string>
	<key>returncode</key>
	<string>10000</string>
</dict>
</plist>
